server:
  port: 8090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hackathon_db
    username: postgres
    password: vibecoders
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

